html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: black;
  background-color: #ffffff;
  font-family: "Comic Neue", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Comic Neue", sans-serif;
  font-weight: 700;
  color: black;
}

/*--nav--*/
#header-nav {
  background-color: gray;
  border: 4px solid black;
  border-radius: 0;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-brand h1 {
  font-size: 2em;
  text-shadow: 1px 1px 1px #222;
  margin: 0;
  line-height: 0.75;
  text-align: left;
}

#nav-list {
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
  background-color: white;
  background-size: 100%;
}

#nav-list a {
  color: black;
  border-color: black;
}

#nav-list a:hover {
  background-color: gray;
}

/* ---main---*/

#main-content {
  padding-left: 10px;
  padding-right: 10px;
}

#menu-head-title {
  padding-bottom: 20px;
  font-weight: 700;
}

.row {
  width: 100%;
  margin: 0;
}

/*--tiles--*/
.menu-item-tile {
  background-color: #878585;
  border: 2px solid #000;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.menu-item-description {
  font-weight: 700;
  font-size: 0.9em;
  text-align: left;
}

.menu-item-description span {
  display: block;
  word-wrap: break-word;
  padding: 15px;
  color: black;
}

.menu-item-tile h3 {
  padding-top: 10px;
  margin-bottom: 15px;
  font-weight: 700;
  color: black;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  color: #ef86ac;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 25px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/*---media---*/

/* Large Screens */
@media (min-width: 1200px) {
  #nav-list {
    background-color: gray;
  }
  .menu-item-tile {
    margin-bottom: 30px;
  }
  .col-lg-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Medium Screens */
@media (min-width: 992px) and (max-width: 1199px) {
  #nav-list {
    background-color: gray;
  }
  .menu-item-tile {
    margin: 0 10px 30px 10px;
  }
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-list {
    background-color: gray;
  }
}

/* Extra Small Screens */
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 2%;
  }

  #nav-list {
    background-color: white;
    font-size: 1.2em;
  }

  #nav-list li {
    border: 2px groove black;
    border-radius: 5px;
  }

  .menu-item-description span {
    padding: 10px;
  }
}
